svg{
    fill: whitesmoke;
}
body{
    padding-top: 5%;
    background-color:#272727; 
}
.btn{
    float: right;
    
}
.btn-group{
    float: left;
}
#options{
    color: #deddda;
    text-align: center;
    font-size: x-large;
}

#label-btn{
    padding-right: 20px;
    padding-left: 20px;
    padding-block: 4%;
    text-align: center;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1c71d8;
}


#label-btn:hover{
    background-color: #1a5fb4;
}


#submit{
    float: right;
}

.card{
    background-color: #535353;
    color: whitesmoke;
}

.dropdown-item{
    cursor: pointer;
}

/* Source:https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #1a5fb4; 
    border-right: 16px solid #26a269; 
    border-bottom: 16px solid #e5a50a; 
    border-left: 16px solid #c64600; 
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}